.nav-link {
    float: right;
}

.img-thumbnail {
    float: left;
    margin: 0 20px 0 0;
    border: none;
    }
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text {
    float: left;
}

#about-me {
    margin-left: 10px;
}

body {
    background-color:#d4cac03a;
}

.game-header {
    
    text-align: center;
    margin: 20px 5px 20px 5px;
}