.nav-link {
    float: right;
}

.container {
    min-height: 100%;
}

.img-thumbnail {
    float: left;
    margin: 0 20px 0 0;
    border: none;
    }
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text {
    float: left;
}

.about-me {
    margin-left: 5px;
    /* min-width: 400px; */
    /* float: left; */
}

.portfolio {
    background-color: white;
    margin: 20px 0;
    padding: 0 10px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin: 20px, 0px, 20px, 0px;
    margin-top: 20px;
    
}

html, body {
    height: 100%;
    margin: 0;
  }

body {
    background-color:#d4cac03a;
    font-family: 'Raleway', sans-serif;
}

.game-header {
    
    text-align: center;
    margin: 20px 5px 20px 5px;
}

footer {
    text-align: center;
    margin: 10 0 0 0;
    padding: 10px;
    background-color: #f8f9fa;
    width: 100%;
    font-size: 0.75rem;
}

.footer,
.push {
  height: 50px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.btn {
    margin-bottom: 20px;
    background-color: #be633fd5;
    border-color: #f8f9fa;
}

.btn:hover {
    background-color: chocolate;
    border-color: coral;
}